.navbar-back{
    background-color:#4fd63d;
    font-size: large;
}

.navbar-nav > .active > a { 
    background-color: rgb(240, 240, 240);
}


.navbar > a{
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-nav > li > a {
    padding-left: 20px;
    font-size: large;
}

.block-one{
    height: auto;
    background-color: rgb(58, 58, 58);
}

.block-one p{
   color: white;
}

.block-two{
    background-color: rgb(230, 230, 230);
}